.profileWall {
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 78vh;
    height: auto;
}

.profileData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.cardBox{
    max-width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.dataLine{
    margin: 0.5em;
}
.imageBox{
    max-width: 18em;
}

.notificationBox{
    background-color: rgba(0, 85, 255, 0.434);
    border-radius: 1em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}

.noticeLine{
    padding: 0.4em;
    margin: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgba(255, 255, 255, 0.491);
    border-radius: 1em;
    font-weight: bold;
}

.noticeBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}