.accountWall{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: 3em;
    flex-direction: column;
    flex-wrap: wrap;
}

.listContainer{
    background-color: gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}