.userTarget{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 20em;
    margin: 1em;
    padding: 0.3em;
    border-radius: 1em;
    border: solid rgb(185, 185, 185) 0.1em;
}

.userList{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}