.accountCard{
    width: 50em;
    height: auto;
    
}

.loanBox{
    background-color: green;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    height: auto;
    align-items: center;  
    justify-content: center; 
}

.listCard{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 18em;
}