.accountCard{
    height: auto;
    
}

.loanBox{
    
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    height: auto;
    align-items: center;  
    justify-content: center; 
}

.listCard{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 18em;
}

.moneyButton{
    margin: 0.2em;
}