.accountWall{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.listContainer{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.loanBox{
    min-width: 30em;
    width: 80em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
}

.listCard{
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}

.moneyButton{
    margin: 0.3em;
}