.accountWall{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.listContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}